<a href="https://colab.research.google.com/github/yuma-gri/QM2/blob/main/moran_qm2_coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [ ]:
url = "https://data.london.gov.uk/download/v8pow/87e880c2-34bd-4d86-8895-e8c5344f358e/traffic-flow-borough.xlsx"

cars = pd.read_excel(url, sheet_name="Traffic Flows - Cars")
allv = pd.read_excel(url, sheet_name="Traffic Flows - All vehicles")

def clean_year(col):
    try:
        return int(col.split()[0])
    except:
        return col

cars.columns = [clean_year(c) for c in cars.columns]
allv.columns = [clean_year(c) for c in allv.columns]

years = list(range(2019, 2023))

cars_df = cars[["LA Code", "Local Authority"] + years]
vehicles_df = allv[["LA Code", "Local Authority"] + years]

In [ ]:
#Traffic Flow Car Output
cars_df

,LA Code,Local Authority,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,City of London,100.9,76.1,84.1,77.5
2,E09000002,Barking and Dagenham,506.6,415.6,456.7,484.6
3,E09000003,Barnet,1421.2,1108.3,1246.4,1270.6
4,E09000004,Bexley,814.1,666.1,749.2,772.6
5,E09000005,Brent,806.2,677.3,745.6,742.4
6,E09000006,Bromley,1179.6,939.6,1089.9,1117.1
7,E09000007,Camden,355.4,278.6,311.3,316.1
8,E09000008,Croydon,1084.1,884.3,1011.6,1036.3
9,E09000009,Ealing,1063.8,881.6,960.1,990.1
10,E09000010,Enfield,1327.5,1025.9,1193.8,1272.7
11,E09000011,Greenwich,924.8,770.8,866.2,892.1
12,E09000012,Hackney,336.9,278.0,313.9,307.7
13,E09000013,Hammersmith and Fulham,388.9,290.7,331.1,345.7
14,E09000014,Haringey,423.5,332.6,376.0,376.2
15,E09000015,Harrow,545.8,420.9,493.0,510.6
16,E09000016,Havering,1333.3,1078.2,1197.3,1270.4
17,E09000017,Hillingdon,2022.6,1560.9,1767.0,1839.8
18,E09000018,Hounslow,1415.3,1035.0,1179.6,1287.3
19,E09000019,Islington,275.8,217.1,244.2,250.4
20,E09000020,Kensington and Chelsea,383.3,300.3,326.1,340.0
21,E09000021,Kingston upon Thames,816.7,640.8,743.6,753.7
22,E09000022,Lambeth,549.9,438.9,500.7,515.0
23,E09000023,Lewisham,587.5,468.8,533.0,529.1
24,E09000024,Merton,528.1,414.6,475.9,489.5
25,E09000025,Newham,726.0,603.8,628.2,660.8
26,E09000026,Redbridge,952.1,799.4,865.7,920.2
27,E09000027,Richmond upon Thames,704.1,550.3,622.6,637.3
28,E09000028,Southwark,520.6,421.7,482.6,489.5
29,E09000029,Sutton,584.8,479.7,545.9,580.3
30,E09000030,Tower Hamlets,642.5,525.4,573.4,586.0
31,E09000031,Waltham Forest,642.6,541.6,588.3,591.9
32,E09000032,Wandsworth,606.6,482.9,533.6,537.3
33,E09000033,Westminster,581.3,436.0,467.9,479.4
34,NaN,NaN,NaN,NaN,NaN,NaN
35,E12000001,North East,16255.6,12354.2,13842.5,15379.5
36,E12000002,North West,46472.1,35305.6,39622.1,43310.6
37,E12000003,Yorkshire and the Humber,35592.3,27172.1,29828.5,32660.5
38,E12000004,East Midlands,36463.6,27563.1,30943.2,34464.2
39,E12000005,West Midlands,40648.9,29968.5,33655.7,37936.4
40,E12000006,East of England,46693.0,35477.6,39584.8,44214.8
41,E12000007,London,25152.3,20042.0,22504.2,23270.3
42,E12000008,South East,69540.5,51265.2,56785.6,63279.3
43,E12000009,South West,45540.8,33733.0,38485.0,41541.0
44,NaN,NaN,NaN,NaN,NaN,NaN
45,E92000001,England,362359.1,272881.4,305251.6,336056.6
46,NaN,NaN,NaN,NaN,NaN,NaN
47,S92000003,Scotland,36677.5,27032.4,31063.4,34375.1
48,W92000004,Wales,24039.2,17649.4,19928.5,22238.4
49,NaN,NaN,NaN,NaN,NaN,NaN
50,K03000001,Great Britain,423075.8,317563.1,356243.5,392670.1

In [ ]:
#Traffic Flow All Vehicle Output
vehicles_df

,LA Code,Local Authority,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,City of London,150.1,116.9,128.1,120.5
2,E09000002,Barking and Dagenham,660.6,559.1,602.9,641.1
3,E09000003,Barnet,1821.9,1447.8,1617.9,1646.5
4,E09000004,Bexley,1033.6,869.0,964.4,991.8
5,E09000005,Brent,1024.5,883.3,965.2,962.1
6,E09000006,Bromley,1468.5,1195.1,1367.6,1400.4
7,E09000007,Camden,483.1,392.1,435.4,445.0
8,E09000008,Croydon,1357.5,1135.8,1285.5,1318.8
9,E09000009,Ealing,1369.6,1161.7,1256.5,1292.9
10,E09000010,Enfield,1789.3,1441.5,1603.1,1764.2
11,E09000011,Greenwich,1203.8,1028.6,1144.5,1179.0
12,E09000012,Hackney,460.9,390.2,436.5,431.9
13,E09000013,Hammersmith and Fulham,527.8,411.3,465.0,487.9
14,E09000014,Haringey,558.2,453.9,508.2,511.1
15,E09000015,Harrow,661.6,520.4,604.1,626.1
16,E09000016,Havering,1829.9,1564.7,1706.9,1776.8
17,E09000017,Hillingdon,2498.6,1989.9,2232.7,2303.6
18,E09000018,Hounslow,1759.6,1318.5,1493.5,1611.9
19,E09000019,Islington,389.6,316.2,350.9,363.0
20,E09000020,Kensington and Chelsea,526.6,424.5,466.9,489.0
21,E09000021,Kingston upon Thames,1009.7,813.4,936.2,948.1
22,E09000022,Lambeth,761.5,626.2,705.9,731.6
23,E09000023,Lewisham,770.4,633.1,713.9,712.1
24,E09000024,Merton,676.6,544.5,617.3,635.7
25,E09000025,Newham,944.3,804.5,837.2,876.9
26,E09000026,Redbridge,1209.9,1033.7,1113.2,1181.2
27,E09000027,Richmond upon Thames,877.1,700.5,785.4,806.4
28,E09000028,Southwark,718.3,595.8,672.1,687.0
29,E09000029,Sutton,731.2,614.6,693.1,733.9
30,E09000030,Tower Hamlets,875.6,736.8,803.9,822.4
31,E09000031,Waltham Forest,834.5,715.0,769.1,775.5
32,E09000032,Wandsworth,803.3,657.8,721.8,730.8
33,E09000033,Westminster,824.5,640.8,693.0,715.7
34,NaN,NaN,NaN,NaN,NaN,NaN
35,E12000001,North East,20437.8,16205.9,18049.3,19760.4
36,E12000002,North West,58871.7,46868.6,52298.2,56524.5
37,E12000003,Yorkshire and the Humber,46599.6,37213.5,40872.1,43894.0
38,E12000004,East Midlands,47457.6,37603.4,42267.5,46285.8
39,E12000005,West Midlands,52461.3,40594.1,45546.0,50305.2
40,E12000006,East of England,61098.4,48890.7,54279.7,59660.9
41,E12000007,London,32612.3,26737.1,29697.7,30721.3
42,E12000008,South East,88333.2,68266.3,75486.5,83074.6
43,E12000009,South West,57990.4,44795.7,50870.4,54508.2
44,NaN,NaN,NaN,NaN,NaN,NaN
45,E92000001,England,465862.3,367175.2,409367.4,444734.9
46,NaN,NaN,NaN,NaN,NaN,NaN
47,S92000003,Scotland,48347.3,37286.1,42975.0,46957.3
48,W92000004,Wales,30708.2,23453.1,26531.6,29215.3
49,NaN,NaN,NaN,NaN,NaN,NaN
50,K03000001,Great Britain,544917.7,427914.4,478874.1,520907.5

In [ ]:
import pandas as pd
import requests
from io import BytesIO

# data in population
df_path_pop = (
    "https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/"
    "populationandmigration/populationestimates/datasets/"
    "populationestimatesforukenglandandwalesscotlandandnorthernireland/"
    "mid2024/mye24tablesuk.xlsx"
)

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(df_path_pop, headers=headers)
response.raise_for_status()

pop_df = pd.read_excel(BytesIO(response.content), sheet_name="MYE5", header=7)

In [ ]:
#Output pandas in population
pop_filtered_df = pop_df.iloc[201:234]
def clean_pop_df_column_name(col_name):
    if isinstance(col_name, str) and col_name.startswith('Mid-'):
        try:
            return int(col_name.replace('Mid-', ''))
        except ValueError:
            return col_name # Return original if conversion fails
    return col_name

pop_filtered_df.columns = [clean_pop_df_column_name(col) for col in pop_filtered_df.columns]
pop_filtered_df

,Code,Name,Geography,Area (sq km),Estimated Population mid-2024,2024 people per sq. km,Estimated Population mid-2023,2023 people per sq. km,Estimated Population mid-2022,2022 people per sq. km,...,Estimated Population mid-2015,2015 people per sq. km,Estimated Population mid-2014,2014 people per sq. km,Estimated Population mid-2013,2013 people per sq. km,Estimated Population mid-2012,2012 people per sq. km,Estimated Population mid-2011,2011 people per sq. km
201,E12000007,LONDON,Region,1571.9584,9089736,5782,8999705,5725,8871368,5644,...,8659545,5509,8547192,5437,8438987,5368,8320767,5293,8204407,5219
202,E09000007,Camden,London Borough,21.7785,216943,9961,217235,9975,217352,9980,...,221032,10149,221095,10152,221348,10164,219647,10085,220087,10106
203,E09000001,City of London,London Borough,2.8899,15111,5229,13606,4708,11615,4019,...,7668,2653,7567,2618,7537,2608,7514,2600,7412,2565
204,E09000012,Hackney,London Borough,19.0440,266758,14007,265411,13937,261814,13748,...,261929,13754,258735,13586,255646,13424,251193,13190,247182,12980
205,E09000013,Hammersmith and Fulham,London Borough,16.4013,188687,11504,187479,11431,185822,11330,...,187246,11417,186659,11381,186056,11344,184439,11245,182445,11124
206,E09000014,Haringey,London Borough,29.6063,263850,8912,263362,8895,262078,8852,...,272938,9219,268901,9083,265054,8953,259312,8759,255540,8631
207,E09000019,Islington,London Borough,14.8579,223024,15010,222333,14964,219769,14791,...,218255,14689,214986,14469,212604,14309,208762,14051,206285,13884
208,E09000020,Kensington and Chelsea,London Borough,12.1256,144518,11918,146499,12082,146336,12068,...,156149,12878,156178,12880,156823,12933,157240,12968,158251,13051
209,E09000022,Lambeth,London Borough,26.8071,316920,11822,318738,11890,317657,11850,...,322881,12045,318196,11870,314375,11727,310449,11581,304481,11358
210,E09000023,Lewisham,London Borough,35.1460,301255,8572,300225,8542,299164,8512,...,295364,8404,291086,8282,286056,8139,281011,7996,276938,7880
211,E09000025,Newham,London Borough,36.1958,374523,10347,368194,10172,357327,9872,...,330322,9126,322984,8923,316952,8757,313750,8668,310460,8577
212,E09000028,Southwark,London Borough,28.8776,314786,10901,313485,10856,309327,10712,...,304048,10529,299685,10378,297868,10315,293078,10149,288717,9998
213,E09000030,Tower Hamlets,London Borough,19.7710,331886,16787,329143,16648,324881,16432,...,282674,14297,277060,14013,270294,13671,261936,13248,256012,12949
214,E09000032,Wandsworth,London Borough,34.2619,337655,9855,333859,9744,330447,9645,...,322658,9417,319898,9337,316810,9247,312262,9114,307710,8981
215,E09000033,Westminster,London Borough,21.4826,209996,9775,210665,9806,209333,9744,...,215876,10049,214341,9977,215907,10050,219539,10219,219582,10221
216,E09000002,Barking and Dagenham,London Borough,36.1012,232747,6447,226301,6269,220392,6105,...,206450,5719,201244,5574,196204,5435,191453,5303,187029,5181
217,E09000003,Barnet,London Borough,86.7666,405050,4668,398191,4589,390371,4499,...,377826,4355,373853,4309,368611,4248,363260,4187,357538,4121
218,E09000004,Bexley,London Borough,60.5723,256434,4234,252124,4162,247875,4092,...,241427,3986,239112,3948,236169,3899,234435,3870,232774,3843
219,E09000005,Brent,London Borough,43.2361,352976,8164,348751,8066,341505,7899,...,335605,7762,329981,7632,324345,7502,317984,7355,312245,7222
220,E09000006,Bromley,London Borough,150.1288,335319,2234,332482,2215,329930,2198,...,325653,2169,321800,2143,318582,2122,314663,2096,310554,2069
221,E09000008,Croydon,London Borough,86.4660,409342,4734,402217,4652,393547,4551,...,381277,4410,378244,4374,374270,4329,369617,4275,364815,4219
222,E09000009,Ealing,London Borough,55.5422,385985,6949,379203,6827,370315,6667,...,359144,6466,354660,6385,350650,6313,344834,6209,339314,6109
223,E09000010,Enfield,London Borough,80.8003,327434,4052,328014,4060,326867,4045,...,330868,4095,326340,4039,321754,3982,317780,3933,313935,3885
224,E09000011,Greenwich,London Borough,47.3114,299528,6331,296420,6265,292381,6180,...,274230,5796,268305,5671,264036,5581,260360,5503,255483,5400
225,E09000015,Harrow,London Borough,50.4643,270724,5365,266891,5289,261798,5188,...,255308,5059,251618,4986,247018,4895,243800,4831,240499,4766
226,E09000016,Havering,London Borough,112.3360,276274,2459,270305,2406,264786,2357,...,250449,2229,246771,2197,242550,2159,239946,2136,237927,2118
227,E09000017,Hillingdon,London Borough,115.7074,329185,2845,321977,2783,312162,2698,...,294011,2541,290225,2508,285982,2472,281263,2431,275499,2381
228,E09000018,Hounslow,London Borough,55.9623,299424,5350,295221,5275,289196,5168,...,275097,4916,270773,4838,265547,4745,260584,4656,254927,4555
229,E09000021,Kingston upon Thames,London Borough,37.2556,172692,4635,170780,4584,169076,4538,...,167594,4498,165791,4450,164418,4413,162562,4363,160436,4306
230,E09000024,Merton,London Borough,37.6240,218539,5808,217135,5771,215105,5717,...,213791,5682,211025,5609,208529,5542,205166,5453,200543,5330
231,E09000026,Redbridge,London Borough,56.3942,321231,5696,316556,5613,311629,5526,...,301022,5338,295837,5246,289976,5142,285437,5061,281395,4990
232,E09000027,Richmond upon Thames,London Borough,57.3876,196678,3427,196061,3416,195295,3403,...,194966,3397,194492,3389,192375,3352,189934,3310,187527,3268
233,E09000029,Sutton,London Borough,43.8464,214525,4893,212336,4843,210369,4798,...,201208,4589,199144,4542,196678,4486,193982,4424,191123,4359

In [ ]:
#Output pandas in population
pop_filtered_df = pop_df.iloc[201:234]
def clean_pop_df_column_name(col_name):
    if isinstance(col_name, str) and col_name.startswith('Mid-'):
        try:
            return int(col_name.replace('Mid-', ''))
        except ValueError:
            return col_name # Return original if conversion fails
    return col_name

pop_filtered_df.columns = [clean_pop_df_column_name(col) for col in pop_filtered_df.columns]

desired_columns = [
    'Code',
    'Name',
    'Geography',
    'Area (sq km)',
    'Estimated Population mid-2022',
    '2022 people per sq. km',
    'Estimated Population mid-2019',
    '2019 people per sq. km'
]

pop_selected_columns_df = pop_filtered_df[desired_columns]
display(pop_selected_columns_df)

,Code,Name,Geography,Area (sq km),Estimated Population mid-2022,2022 people per sq. km,Estimated Population mid-2019,2019 people per sq. km
201,E12000007,LONDON,Region,1571.9584,8871368,5644,8889743,5655
202,E09000007,Camden,London Borough,21.7785,217352,9980,217136,9970
203,E09000001,City of London,London Borough,2.8899,11615,4019,8765,3033
204,E09000012,Hackney,London Borough,19.0440,261814,13748,265825,13958
205,E09000013,Hammersmith and Fulham,London Borough,16.4013,185822,11330,188562,11497
206,E09000014,Haringey,London Borough,29.6063,262078,8852,273716,9245
207,E09000019,Islington,London Borough,14.8579,219769,14791,221994,14941
208,E09000020,Kensington and Chelsea,London Borough,12.1256,146336,12068,146805,12107
209,E09000022,Lambeth,London Borough,26.8071,317657,11850,329513,12292
210,E09000023,Lewisham,London Borough,35.1460,299164,8512,305906,8704
211,E09000025,Newham,London Borough,36.1958,357327,9872,349786,9664
212,E09000028,Southwark,London Borough,28.8776,309327,10712,312591,10825
213,E09000030,Tower Hamlets,London Borough,19.7710,324881,16432,305066,15430
214,E09000032,Wandsworth,London Borough,34.2619,330447,9645,334558,9765
215,E09000033,Westminster,London Borough,21.4826,209333,9744,208415,9702
216,E09000002,Barking and Dagenham,London Borough,36.1012,220392,6105,218828,6062
217,E09000003,Barnet,London Borough,86.7666,390371,4499,390590,4502
218,E09000004,Bexley,London Borough,60.5723,247875,4092,246622,4072
219,E09000005,Brent,London Borough,43.2361,341505,7899,347424,8036
220,E09000006,Bromley,London Borough,150.1288,329930,2198,331192,2206
221,E09000008,Croydon,London Borough,86.4660,393547,4551,390643,4518
222,E09000009,Ealing,London Borough,55.5422,370315,6667,367284,6613
223,E09000010,Enfield,London Borough,80.8003,326867,4045,335151,4148
224,E09000011,Greenwich,London Borough,47.3114,292381,6180,288205,6092
225,E09000015,Harrow,London Borough,50.4643,261798,5188,262065,5193
226,E09000016,Havering,London Borough,112.3360,264786,2357,261296,2326
227,E09000017,Hillingdon,London Borough,115.7074,312162,2698,305641,2641
228,E09000018,Hounslow,London Borough,55.9623,289196,5168,289652,5176
229,E09000021,Kingston upon Thames,London Borough,37.2556,169076,4538,169797,4558
230,E09000024,Merton,London Borough,37.6240,215105,5717,217219,5773
231,E09000026,Redbridge,London Borough,56.3942,311629,5526,311780,5529
232,E09000027,Richmond upon Thames,London Borough,57.3876,195295,3403,198185,3453
233,E09000029,Sutton,London Borough,43.8464,210369,4798,208516,4756

In [ ]:
# data in earnings
df_path_earnings = "https://data.london.gov.uk/download/2z0rk/1686ef1c-b169-442d-8877-e7e49788f668/earnings-residence-borough.xlsx"

earnings_df = pd.read_excel(df_path_earnings, sheet_name="Total, weekly")

In [ ]:
import pandas as pd

raw_df = pd.read_excel(df_path_earnings, sheet_name="Total, weekly", header=None)

# Extract the first two rows to be used as header information
header_row0 = raw_df.iloc[0] # Contains years (e.g., 2002, NaN, 2003, NaN)
header_row1 = raw_df.iloc[1] # Contains sub-headers (e.g., Code, Area, Pay (), conf %)

# Construct new column names by combining the year and sub-header
new_columns = []
current_year = None

for i in range(len(header_row0)):
    year_val = header_row0.iloc[i]
    sub_header_val = header_row1.iloc[i]

    if i < 2: # Handle the first two columns ('Code', 'Area') specifically
        new_columns.append(str(year_val).strip())
    elif pd.isna(year_val): # If year is NaN, it's a sub-header like 'conf %' under a year
        if current_year is not None:
            new_columns.append(f"{current_year} {str(sub_header_val).strip()}")
        else:
            # This case implies a NaN year_val without a preceding year, which shouldn't happen for data columns
            new_columns.append(str(sub_header_val).strip()) # Fallback for safety
    else: # Year value is present (e.g., 2002, 2003, ...)
        current_year = int(year_val)
        new_columns.append(f"{current_year} {str(sub_header_val).strip()}")

# Create the earnings_clean DataFrame by taking data from the third row onwards
# and assigning the newly constructed column names.
earnings_clean = raw_df.iloc[2:].copy()
earnings_clean.columns = new_columns
earnings_clean = earnings_clean.reset_index(drop=True)

# Remove all 'conf %' columns
columns_to_drop = [col for col in earnings_clean.columns if 'conf %' in col]
earnings_clean = earnings_clean.drop(columns=columns_to_drop)

# Identify the columns for 'Pay ()' for years 2011 to 2024
years_to_keep = list(range(2019, 2023))
pay_columns = [f"{year} Pay ()" for year in years_to_keep]

# Ensure 'Code' and 'Area' are always kept
final_columns = ['Code', 'Area'] + pay_columns

# Filter earnings_clean to retain only these selected columns
earnings_clean = earnings_clean[final_columns]

earnings_clean_df = earnings_clean.iloc[0:34]

print("Cleaned earnings_clean DataFrame:")
earnings_clean_df

Cleaned earnings_clean DataFrame:

,Code,Area,2019 Pay (),2020 Pay (),2021 Pay (),2022 Pay ()
0,NaN,NaN,NaN,NaN,NaN,NaN
1,00AA,City of London,#,#,#,#
2,00AB,Barking and Dagenham,471,486.7,508.7,536.6
3,00AC,Barnet,536.4,538.8,574.9,624.3
4,00AD,Bexley,553.4,566.5,586.6,634.4
5,00AE,Brent,524,531.8,555.7,556.6
6,00AF,Bromley,638.3,613.2,666.6,704.2
7,00AG,Camden,662,623,695,699.2
8,00AH,Croydon,561.7,565.1,613.3,667
9,00AJ,Ealing,532.2,566.8,582.6,597.4
10,00AK,Enfield,490.1,492.6,521.5,562
11,00AL,Greenwich,579.5,573.1,618.3,657.4
12,00AM,Hackney,574.9,574.9,576.8,632.8
13,00AN,Hammersmith and Fulham,728,713.1,727,732.6
14,00AP,Haringey,547.6,567.8,546,604.3
15,00AQ,Harrow,581.9,570.5,580.2,619.6
16,00AR,Havering,568.5,574.9,585.7,612.9
17,00AS,Hillingdon,545.9,560.9,594.8,629.6
18,00AT,Hounslow,547.6,511.8,567.2,604.1
19,00AU,Islington,699.1,690.1,670.7,701.4
20,00AW,Kensington and Chelsea,763.7,802,763.6,719.1
21,00AX,Kingston upon Thames,628,617.3,667.9,668.1
22,00AY,Lambeth,634.8,670.8,681.2,703
23,00AZ,Lewisham,552,574.9,574.9,608.4
24,00BA,Merton,578.9,578.3,592.1,584.4
25,00BB,Newham,517.5,534.4,574.9,574.9
26,00BC,Redbridge,565.6,581.6,579.3,581.7
27,00BD,Richmond upon Thames,721.1,702.9,704.5,709.3
28,00BE,Southwark,628,620.9,637.8,672.3
29,00BF,Sutton,549,543.3,576.9,577.3
30,00BG,Tower Hamlets,688.9,665,685.2,725.2
31,00BH,Waltham Forest,574.9,596.8,629.6,647
32,00BJ,Wandsworth,720.9,755.2,746,835.8
33,00BK,Westminster,703.9,701.1,771.1,738.5

In [ ]:
import io
import zipfile
import requests
import pandas as pd

# Make pandas show EVERYTHING
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)


def load_full_pm25_summary(zip_url):
    """
    Downloads LAEI ZIP file and returns the FULL PM2.5 Summary sheet as a DataFrame
    """
    # Download ZIP
    response = requests.get(zip_url)
    response.raise_for_status()

    # Open ZIP
    with zipfile.ZipFile(io.BytesIO(response.content)) as z:
        # Find Excel file
        excel_name = [f for f in z.namelist() if f.lower().endswith(".xlsx")][0]

        # Load Excel
        excel_bytes = io.BytesIO(z.read(excel_name))
        df = pd.read_excel(excel_bytes, sheet_name="PM2.5 Summary")

    return df


# ================= URLs =================

url_2019 = (
    "https://data.london.gov.uk/download/"
    "london-atmospheric-emissions-inventory--laei--2019/"
    "17d21cd1-892e-4388-9fea-b48c1b61ee3c/"
    "LAEI-2019-Emissions-Summary-including-Forecast.zip"
)

url_2022 = (
    "https://data.london.gov.uk/download/2lg5g/4ql/"
    "LAEI2022-Emissions-Summary-Excel.zip"
)

# ================= Load FULL PM2.5 sheets =================

pm25_2019_full = load_full_pm25_summary(url_2019)
pm25_2022_full = load_full_pm25_summary(url_2022)

In [ ]:

result_2022 = pm25_2022_full.iloc[[6, 77], 11:]

result_2022

,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
6,Row Labels,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,Enfield,Greenwich,Hackney,Hammersmith and Fulham,Haringey,Harrow,Havering,Hillingdon,Hounslow,Islington,Kensington and Chelsea,Kingston,Lambeth,Lewisham,Merton,Newham,Redbridge,Richmond,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Non-GLA,Westminster,City of London,Grand Total
77,Grand Total,77.270519,133.32283,104.686048,114.930944,135.640101,68.227314,150.942346,124.123021,141.448322,114.115291,73.186536,54.910216,55.561304,76.622391,121.692274,305.30683,109.215748,64.850672,48.600211,66.996553,73.033421,85.775661,67.93263,89.734112,90.382563,78.773491,76.900867,77.950957,67.966899,67.45479,85.692503,731.589474,185.498001,26.586187,3946.921028

In [ ]:

result_2019 = pm25_2019_full.iloc[[6, 71], 11:]

result_2019

,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
6,Row Labels,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,City,City of Westminster,Croydon,Ealing,Enfield,Greenwich,Hackney,Hammersmith and Fulham,Haringey,Harrow,Havering,Hillingdon,Hounslow,Islington,Kensington and Chelsea,Kingston,Lambeth,Lewisham,Merton,Newham,Redbridge,Richmond,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Non GLA,Grand Total
71,Grand Total,89.144025,146.784771,126.825466,112.133591,131.074954,98.035241,45.171228,184.392969,129.358847,128.534116,140.493582,115.231368,55.969963,60.478756,63.396073,80.469973,121.357687,247.134244,131.381635,56.890515,60.601096,69.384975,74.373947,70.859049,73.560127,121.318747,99.834475,77.401403,75.588366,73.020844,103.639316,75.547046,91.066451,679.499192,4009.95404

In [ ]:
!pip install geopandas

import requests
import zipfile
import io
import geopandas as gpd
import tempfile
import os

zip_url = "https://data.london.gov.uk/download/20od9/9ba8c833-6370-4b11-abdc-314aa020d5e0/statistical-gis-boundaries-london.zip"

# Download the zip file
response = requests.get(zip_url)
response.raise_for_status() # Raise an exception for bad status codes

# Create a temporary directory to extract the contents
with tempfile.TemporaryDirectory() as tmpdir:
    # Open the zip file from memory
    with zipfile.ZipFile(io.BytesIO(response.content)) as z:
        z.extractall(tmpdir)

    # Find the shapefile (.shp) within the extracted files
    shp_file = None
    for root, dirs, files in os.walk(tmpdir):
        for file in files:
            if file.endswith(".shp"):
                shp_file = os.path.join(root, file)
                break
        if shp_file:
            break

    if shp_file:
        london_boroughs_gdf = gpd.read_file(shp_file)
        print("GeoDataFrame loaded successfully:")
        print(london_boroughs_gdf.head())
    else:
        print("No shapefile (.shp) found in the zip archive.")

In [1]:
#Imports

import warnings

import geopandas as gpd
import libpysal as lps
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import esda

In [2]:
!mkdir coursework

In [11]:
import requests
import pandas as pd
from io import StringIO

csv_url = "https://hub.arcgis.com/api/v3/datasets/0a92a355a8094e0eb20a7a66cf4ca7cf_10/downloads/data?format=csv&spatialRefId=27700&where=1%3D1"

try:
    # Add a User-Agent header to the request to avoid potential blocking
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
    response = requests.get(csv_url, headers=headers)
    response.raise_for_status() # Raise an exception for bad status codes

    # Read the content into a pandas DataFrame
    df_tfl_boundaries = pd.read_csv(StringIO(response.text))
    print("CSV data loaded successfully into df_tfl_boundaries:")
    print(df_tfl_boundaries.head())
except requests.exceptions.RequestException as e:
    print(f"Error downloading the CSV file: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

CSV data loaded successfully into df_tfl_boundaries:
   BOROUGH  NUMBER_  CODE      HECTARES                  DESCRIPT0       X  \
0     Bromley       19  00AF  15014.515249  CIVIL ADMINISTRATION AREA  542896
1    Lewisham        7  00AZ   3532.340464  CIVIL ADMINISTRATION AREA  537667
2  Wandsworth       10  00BJ   3522.003234  CIVIL ADMINISTRATION AREA  526129
3      Merton       22  00BA   3760.919638  CIVIL ADMINISTRATION AREA  525475
4   Redbridge       14  00BC   5645.008264  CIVIL ADMINISTRATION AREA  543914

        Y  AREA  OBJECTID                 FILE_NAME   Shape__Area  \
0  165656   0.0         1  GREATER_LONDON_AUTHORITY  1.501452e+08
1  174002   0.0         2  GREATER_LONDON_AUTHORITY  3.532340e+07
2  174114   0.0         3  GREATER_LONDON_AUTHORITY  3.522003e+07
3  169422   0.0         4  GREATER_LONDON_AUTHORITY  3.760920e+07
4  189463   0.0         5  GREATER_LONDON_AUTHORITY  5.645008e+07

   Shape__Length                              GlobalID
0   75909.142745  86b54395-dc20-4e52-bc8c-7b79188f035f
1   40992.749346  84f88d72-30c1-47b6-bc71-163246413f0d
2   37353.846507  617038fb-5459-4133-96ae-1743ba48321c
3   32293.919848  6362d58b-7052-4655-a812-3487752e770e
4   45688.184397  3d6ac4f8-be2c-4a89-a684-e50e11c602e9

In [ ]:
berlin_listings_df = pd.read_csv("data/berlin-listings.csv")
geometry = gpd.points_from_xy(x=bl_df.longitude, y=bl_df.latitude)
bl_gdf = gpd.GeoDataFrame(bl_df, geometry=geometry)

In [ ]:
# The GeoJSON data from the provided URL has already been loaded into 'gdf'.
# You can view the first few rows of the GeoDataFrame like this:
print(gdf.head())

In [ ]:
import requests
import os

geojson_url = "https://opendata.arcgis.com/datasets/20b41bc7620042459b9aa51b9e07f59d_0.geojson"
output_filename = "london_boroughs.geojson"

try:
    response = requests.get(geojson_url, stream=True)
    response.raise_for_status() # Raise an exception for bad status codes

    with open(output_filename, 'wb') as f:
        for chunk in response.iter_content(chunk_size=8192):
            f.write(chunk)
    print(f"Successfully downloaded {output_filename}")
    print(f"File size: {os.path.getsize(output_filename) / (1024*1024):.2f} MB")
except requests.exceptions.RequestException as e:
    print(f"Error downloading the GeoJSON file: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

In [4]:
!curl https://hub.arcgis.com/api/v3/datasets/0a92a355a8094e0eb20a7a66cf4ca7cf_10/downloads/data?format=csv&spatialRefId=27700&where=1%3D1 -o ./coursework/boundaries.geojson

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   142  100   142    0     0    219      0 --:--:-- --:--:-- --:--:--   219

In [ ]:
curl -o london_boroughs.geojson "https://opendata.arcgis.com/datasets/20b41bc7620042459b9aa51b9e07f59d_0.geojson"

In [10]:
import requests
import os
import geopandas as gpd # Ensure geopandas is imported as it's used later

# Updated URL to the direct GeoJSON download link from ArcGIS Open Data, including outSR parameter
geojso_url = "https://opendata.arcgis.com/datasets/20b41bc7620042459b9aa51b9e07f59d_0.geojson?outSR=%7B%22latestWkid%22%3A27700%2C%22wkid%22%3A27700%7D"
output_filename = "coursework/boundaries.geojson"

# Ensure the directory exists
os.makedirs(os.path.dirname(output_filename), exist_ok=True)

try:
    # Add a User-Agent header to the request
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
    response = requests.get(geojso_url, stream=True, headers=headers)
    response.raise_for_status() # Raise an exception for bad status codes

    with open(output_filename, 'wb') as f:
        for chunk in response.iter_content(chunk_size=8192):
            f.write(chunk)
    print(f"Successfully downloaded {output_filename}")
    print(f"File size: {os.path.getsize(output_filename) / (1024*1024):.2f} MB")
except requests.exceptions.RequestException as e:
    print(f"Error downloading the GeoJSON file: {e}")
except Exception as e:
    print(f"An unexpected error occurred during download: {e}")

gdf = gpd.read_file(output_filename)

Error downloading the GeoJSON file: 400 Client Error: Bad Request for url: https://hub.arcgis.com/api/download/v1/items/20b41bc7620042459b9aa51b9e07f59d/geojson?redirect=true&layers=0

DataSourceError: 'coursework/boundaries.geojson' not recognized as being in a supported file format.; It might help to specify the correct driver explicitly by prefixing the file path with '<DRIVER>:', e.g. 'CSV:path'.

In [ ]:
bl_df = pd.read_csv("data/berlin-listings.csv")
geometry = gpd.points_from_xy(x=bl_df.longitude, y=bl_df.latitude, crs='epsg:4326')
bl_gdf = gpd.GeoDataFrame(bl_df, geometry=geometry)

In [ ]:
bl_gdf["price"] = bl_gdf["price"].astype("float32")
sj_gdf = gpd.sjoin(
    gdf, bl_gdf, how="inner", predicate="intersects", lsuffix="left", rsuffix="right"
)
median_price_gb = sj_gdf["price"].groupby([sj_gdf["neighbourhood_group"]]).mean()
median_price_gb

In [ ]:
gdf = gdf.join(median_price_gb, on="neighbourhood_group")
gdf.rename(columns={"price": "median_pri"}, inplace=True)
gdf.head(15)